.logoImage{
  width:40%;
  height:30%;
  margin-left:14rem;
}

.headerTitle{
  color:white;
  font-size:330%;
}


.card{
  width:20%;
  margin-left:5rem;
  margin-top:2rem; 

}

.card-img-top{
  width:80%;
  height:50%;
}

.backToCatalog{
  margin-top:10rem;
}

.container{
  margin-bottom:5rem;
}

.itemDetails{
  margin-top:1.5rem;
}

.productDes{
  margin-top:2rem;
}

.shortDes{
  margin-top:3rem;
}