.logoImage{
  width:40%;
  height:30%;
  margin-left:8rem;
}

.headerTitle{
  color:white;
  font-size:330%;
}


.card{
  width:50%;
  margin-left:5rem;
  margin-top:2rem; 

}

.card-img-top{
  width:80%;
  height:50%;
}

.backToCatalog{
  margin-top:10rem;
}

.container{
  margin-bottom:5rem;
}

.itemDetails{
  margin-top:1.5rem;
}

.productDes{
  margin-top:2rem;
}

.shortDes{
  margin-top:3rem;
}

.cartIcon{
  margin-left: 1rem;
  font-size:2.5rem;
} 

.itemText{
  margin-left: 30rem;
}

.summaryImg{
  height:10rem;
  width: 10rem;

}

.container {
    margin-bottom: 3rem;
}

.cardSpaceItem{
  width:70rem;
  margin-left:0.5rem;
}

.itemTotal{
  font-size:1.5rem;
  margin-left:0.4rem;

}
