.logoImage{
  width:50%;
  height:30%;
  margin-left:30%;
}

.headerTitle{
  color:white;
  font-size:330%;
}


.card{
  width:20%;
  margin-left:5%;
  margin-top:2%; 

}


.card-img-top{
  width:80%;
  height:50%;
}